{{define "layout"}}
{{$msg := .Msg}}
{{$comm := .Comm}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>改社区-{{$comm.Name}}</title>
    <link href="/static/other/favicon.ico" rel="icon">
    <meta name="description" content="麋鹿广场:为大学生准备的社区平台">
    <meta name="keywords" content="麋鹿广场,改社区">
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet">
</head>
<body style="padding-bottom: 60px; background-color: rgb(247,247,247);position: relative">
{{ template "nav"}}

<form id="post" action="/update/community?id={{$comm.Id}}" method="post">
    <div class="form-group">
        <div class="text-center center-block">
            <label for="name">名字</label>
            <input type="text" class="form-control" id="name" placeholder="name" name="name" value="{{$comm.Name}}">
        </div>
    </div>
    <div class="form-group">
        <div class="text-center center-block">
            <label for="belong">所属</label>
            <input type="text" class="form-control" id="belong" placeholder="所属，例:BUPT" name="belong" value="{{$comm.BelongTo}}">
        </div>
    </div>
    <div class="form-group">
        <div class="text-center center-block">
            <label for="desc">描述</label>
            <textarea id="desc" rows="3" class="form-control" placeholder="description" name="desc">{{$comm.Desc}}</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="center-block text-center">
            <button type="submit" class="btn btn-default">修改</button>
        </div>
    </div>
</form>
{{ if $msg.Exist}}
    <div class="alert {{$msg.Alert}} text-center" role="alert">{{$msg.Msg}}</div>
{{end}}

{{ template "footer" }}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/static/js/setting.js"></script>
<script>
    //$('#desc').attr('value','{{$comm.Desc}}')
</script>
</body>
</html>

{{end}}